button{
display: flex;
border-radius: 10px;
color:green;
text-align: center;
align-items: center;
justify-content: center;
}
.BotonesInicio{
    display: flex;
    background-color: gray;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    background-color: lightblue;
    flex-direction: column;
    margin-left: 500px;
    margin-right: 500px;
}
.PaginaPrincipal{
    display: flex;
    justify-content: center;
    text-align: center;
    
}